<%= render partial: 'shared/panel_nav', locals: { active: 'nav_profile'} %>
<div class="container">
<div class="row">
  <div class="col-md-7">
    <%= simple_form_for @profile, :html => {:multipart => true} do |f| %>
      <div class="fieldset">
        <legend>个人资料</legend>
        <%= f.input :name, label: '称呼' %>
        <%= f.input :contact, label: '联系方式' %>
        <div class="form-group">
          <%= f.label '上传头像', :avatar %>
          <div class="col-md-4">
            <input id="profile_avatar" type="file" name="profile[avatar]">
          </div>
        </div>
        <%= f.input :avatar_cache, as: :hidden %>        
        <div class="form-group">
          <div class="col-md-3 col-md-offset-2">
            <%= f.submit "更新资料", :class => "btn btn-large btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-3">
    <div class="border-box">
      <%= image_tag @profile.avatar.url('200x200') %>
    </div>
  </div>
</div>
</div>