<div class="row">
  <div class="span7">
    <%= simple_form_for @profile do |f| %>
      <div class="fieldset">
        <legend>个人资料</legend>
        <%= f.input :avatar, as: :file, label: '上传头像' %>
        <%= f.input :avatar_cache, as: :hidden %>        
        <div class="form-actions">
          <%= f.submit "更新资料", :class => "btn btn-large btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span4">
    <div class="face-box">
      <%= image_tag @profile.avatar.url %>
    </div>
  </div>
</div>

