<div class="row">
  <div class="col-md-7">
    <%= simple_form_for @profile, :html => {:multipart => true} do |f| %>
      <div class="fieldset">
        <legend>个人资料</legend>
        <%= f.input :nickname, label: '昵称' %>
        <div class="form-group">
          <%= f.label '上传头像', :avatar %>
          <div class="col-md-4">
            <input id="profile_avatar" type="file" name="profile[avatar]">
          </div>
        </div>
        <%= f.input :avatar_cache, as: :hidden %>        
        <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
            <%= f.submit "更新资料", :class => "btn btn-large btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-md-4 pull-right">
    <div class="face-box">
      <%= image_tag @profile.avatar.url %>
    </div>
  </div>
</div>

