<ul class="nav nav-tabs">
  <li class="active"><%= link_to '我的资料', profile_path(current_user) %></li> 
  <li><%= link_to '我的车辆', mycars_cars_path %></li>
  <li><%= link_to '我的出租', myrents_path %></li>
  <li><%= link_to '我的订单', my_order_path %></li>
</ul>
<div class="row">
  <div class="col-md-4">
    <div class="box">
      <%= @profile.nickname %>
    </div>
  </div>
  <div class="col-md-4 pull-right">
    <%= image_tag @profile.avatar.url %>
  </div>

</div>

