<div class="row-fluid alert-box">
  <% if flash[:notice] %>
    <div class="alert alert-error span12" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>
<%= form_tag '/auth/identity/callback' do %>
  <div class="control-group" style="position:relative">
    <%= email_field_tag :auth_key, params[:auth_key], :placeholder => "邮箱", class: 'login-field' %>
    <label class="login-field-icon" for="email"></label>
  </div>
 
  <div class="control-group" style="position:relative">
    <%= password_field_tag :password, params[:password], :placeholder => "密码", class: 'login-field' %>
    <label class="login-field-icon" for="email"></label>
  </div>

  <%= submit_tag "登录", :class => "btn btn-large btn-primary" %>
  <div>
    没有帐号？<a href="<%= new_identity_path %>">现在就注册</a>
  </div>
<% end %>

