<div class="row-fluid alert-box">
  <% if flash[:notice] %>
    <div class="alert alert-error span12" >
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:notice] %>
    </div>
  <% end %>
</div>
<%= form_tag login_path, class: 'form-signin' do %>
  <div class="control-group" style="position:relative">
    <%= email_field_tag :email, params[:email], :placeholder => "邮箱", class: 'login-field' %>
    <label class="login-field-icon" for="email"></label>
  </div>
 
  <div class="control-group" style="position:relative">
    <%= password_field_tag :password, params[:password], :placeholder => "密码", class: 'login-field' %>
    <label class="login-field-icon" for="email"></label>
  </div>

  <%= submit_tag "登录", :class => "btn btn-large btn-primary" %>
  <div>
    没有帐号？<a href="<%= new_user_path %>">现在就注册</a>
  </div>
<% end %>
<style>
  .login-field-icon {
    color: rgb(191, 201, 202);
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 14px;
    transition: all 0.25s ease 0s;
  }
</style>

