<%= form_for @user, html:{:class => "form-signup"} do |f| %>
  <h2>用户信息</h2>
  <div class="control-group">
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <%= f.email_field :email, :placeholder => "email" %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <%= f.text_field :name,:placeholder => "name" %>
      </div>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.text_field :mobile,:placeholder => "phone-number" %>
      <span><%= get_error_message(@user,:mobile) %></span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <div class="input-prepend">   
        <span class="add-on"><i class="icon-lock"></i></span>
        <%= f.password_field :password, :placeholder => "password" %>
      </div>
      <p>Tips：用熟悉的一句话的首字母连起来作密码，好记又安全！</p>
    </div>
  </div>
  <div class="control-group">
    <div class="controls"> 
      <div class="input-prepend">
        <span class="add-on"><i class="icon-ok"></i></span>
        <%= f.password_field :password_confirmation,:placeholder => "password_confirmation" %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Sign Up", :class => "btn btn-large btn-primary" %>
  </div>
<% end %>

<%= get_error_message(@user,:email) %>
