<div class="container-radius">
  <%= form_for @user do |f| %>
    <div class="form-header"><h2>注册</h2></div>
    <div class="form-container">
      <div class="control-group">
        <div class="controls">
          <%= f.email_field :email, :placeholder => "邮箱" %>
          <% if error_exist(@user,:email) %>
          <span class="text-error"><%= get_error_message(@user,:email) %></span>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.text_field :mobile,:placeholder => "手机号码" %>
          <span class="help-inline"><a id="tip_mobile" href="#" data-placement='right' data-toggle="tooltip" title="用于交车时联系">Tips</a></span>   
          <% if error_exist(@user,:mobile) %>
          <span class="text-error"><%= get_error_message(@user,:mobile) %></span>
          <% end %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls" id="tip_control">
          <%= f.password_field :password, :placeholder => "密码" %>
          <span class="help-inline"><a id="tip_password" href="#" data-placement='right' data-toggle="tooltip" title="用熟悉的一句话的首字母来作密码，好记又安全!">Tips</a></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls"> 
          <%= f.password_field :password_confirmation,:placeholder => "确认密码" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "确认注册", :class => "btn btn-large btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<script>
  $('#tip_mobile').tooltip();
  $('#tip_password').tooltip();
</script>