<% if current_user && current_user.id == @user.id %>
  <%= render partial: 'shared/panel_nav', locals: { active: 'nav_show'} %>
<% end %>

<div id="content">
    <section id="gallery" class="updatable">
      
    <!-- begin Our Puppies -->
    <article class="puppies">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-12">
              <div class="grid">
                <ul>
                  <%= render partial: 'rents/rents_list_item', collection: @rents, as: :rent %>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="center-pag">
                <div>
                  <ul class="pagination">
                    <%= paginate @rents %>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class='box'>
                <%= render 'profiles/info' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class='col-md-12'>
              <div class='box'>
                分享页面，让更多人看到你的出租信息。
                <%= render 'shared/share_button' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>     
    </article>
    <!-- end Our Puppies -->

    </section>

</div> 
