<tr>
  <td>
    <div class="row">
      <div class="col-md-4">
        <%= link_to (image_tag rent.car.pictures[0].image.url("240x180")), rent, class: 'thumbnail' %>
      </div>
      <ul class="col-md-4 list-unstyled">
        <li><%= rent.car.brand %></li>
        <li><%= rent.car.location.city %><%= rent.car.location.detail %></li>
      </ul>
      <div class="col-md-3">
        <%= render partial: 'rents/rent_rate', object: rent.rate, as: :rate %>
      </div>
    </div>
  </td>
</tr>