<tr>
  <td>
    <div class="row">
      <div class="col-md-4">
        <a href="<%= show_rent_path(id: rent.id) %>">
          <%= image_tag(rent.car.picture.url("240"), class: 'thumbnail') %>
        </a>
      </div>
      <ul class="col-md-4 rent-abstract">
        <li><%= rent.car.brand %></li>
        <li><%= rent.car.location.city %><%= rent.car.location.detail %></li>
        <li>开始时间：<%= rent.start %></li>
        <li>结束时间：<%= rent.end %></li>
      </ul>
      <div class="col-md-3">
        <%= render partial: 'rents/rent_rate', object: rent.rate, as: :rate %>
      </div>
    </div>
  </td>
</tr>