<li>
  <a href="<%= rent_path(rent) %>">
    <div class="more">
      <i class="icon-search pull-right"></i>
      <span class="price">￥<%= rent.rate['day'] %>/天</span>
      <span class="wks"><%= rent.car.location.city %></span>
      <span class="txt"><%= rent.car.location.detail %></span>
    </div>
    <%= image_tag rent.car.pictures[0].image.url("270x270") %>    
    <span class="name"><%= rent.car.brand %></span>
  </a>
</li>