<%= form_for @rent, url: confirm_select_time_path, method: 'post' do |f| %>
  <div class="form-header"><h2>选择时间</h2></div>
  <div class="form-container">
    <div class="control-group">
      <div class="controls input-append date" id="rent_start">
        <%= f.label :start, '开始时间' %> 
        <%= f.text_field :start %>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </div>
    <div class="control-group">
      <div class="controls input-append date" id="rent_end">
        <%= f.label :end, '结束时间' %>
        <%= f.text_field :end %>
        <span class="add-on"><i class="icon-calendar"></i></span>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "确定",:class => "btn btn-primary"%>
    </div>
  </div>
<% end %>
<!-- datetime picker -->
<script type="text/javascript">
  function UTCDate(){
    return new Date(Date.UTC.apply(Date, arguments));
  }
  function UTCToday(){
    var today = new Date();
    return UTCDate(today.getUTCFullYear(), today.getUTCMonth(), today.getUTCDate());
  }
  var start = new Date(2013,1,1);
  var end = new Date(2013,1,2);
  var one_day = 24*3600*1000;
  $("#rent_start").datepicker({
          format: "yyyy-MM-dd",
          startDate: UTCToday(),
          autoclose: true,
          todayBtn: true,
          todayHighlight: true,
          language: "chs"
          }).on('hide', function(ev){
            start = new Date(ev.date.valueOf() + one_day);
            console.log(ev.date);
            $("#rent_end").datepicker('setStartDate', start);
            });

  $("#rent_end").datepicker({
          format: "yyyy-MM-dd",
          startDate: UTCToday(),
          autoclose: true,
          todayBtn: true,
          todayHighlight: true,
          language: "chs"
          }).on('hide', function(ev){
            end = new Date(ev.date);
            $("#rent_start").datepicker('setEndDate', end);
            });

</script>
