<%= simple_form_for @rent, wrapper: :append, url: confirm_select_time_path do |f| %>
  <div class="fieldset col-md-8">
    <legend>选择时间</legend>
    <%= f.input :start, label: '开始时间', hint: "<span class='glyphicon glyphicon-calendar'></span>" %>
    <%= f.input :end, label: '结束时间', hint: "<span class='glyphicon glyphicon-calendar'></span>"  %>
    <div class="form-group">
      <div class="col-md-4 col-md-offset-4">
        <%= f.submit "确定",:class => "btn btn-primary"%>
      </div>
    </div>
  </div>
<% end %>
<%= render 'shared/datepicker' %>
