<div class="row margin-box">
  <div class="span7 box">
    <div class="rent_process">
      <div style='margin:0 30px;width:560px;'>
        <%= image_tag 'rent_step_4.png' %>
      </div>
      <ul class="rent_steps">
        <li>选择车辆</li>
        <li>选择日期</li>
        <li>出租费用</li>
        <li class="step_active">出租完成</li>
      </ul>
    </div>
  </div>
  <div class="span4">
    <%= link_to '返回我的出租', myrents_path, class: 'btn btn-success btn-large' %>
  </div>
</div>
<div class="row-fluid margin-box">
  <div class="span7 box">
    <div class="withborder"> 
      <%= render partial: 'cars/pic_desc', object: @rent.car, as: :car %>
    </div>
  </div>
  <div class="span4">
    <div id="request-box">
      <%= render partial: 'rents/rent_rate', object: @rent.rate, as: :rate %>
      <div class='rent-period'>
        出租期限:<%= @rent.start %>----------<%= @rent.end %>
      </div>
    </div>

  </div>
</div>
