<div class="container">
<div class="row">
  <div class="col-md-7 box">
    <div class="rent_process">
      <%= image_tag 'rent_step_4.png', class: 'step' %>
      <ul class="rent_steps">
        <li>选择车辆</li>
        <li>选择日期</li>
        <li>出租费用</li>
        <li class="step_active">出租完成</li>
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <%= link_to '返回我的出租', my_rents_path, class: 'btn btn-success btn-large' %>
  </div>
</div>
<div class="row">
  <div class="col-md-7 box">
    <div class=""> 
      <%= render partial: 'cars/pictures_slide' %>
      <%= render partial: 'cars/description', object: @rent.car, as: :car %>
    </div>  </div>
  <div class="col-md-4">
    <div id="request-box">
      <%= render partial: 'rents/rent_rate', object: @rent.rate, as: :rate %>
      <div class='rent-period'>
        出租期限:<%= @rent.start %>----------<%= @rent.end %>
      </div>
    </div>
  </div>
</div>
</div>