<%= render 'shared/notice' %>
<div class="row car-list">
  <div class="span7 box">
    <div class="rent_process">
      <div style='margin:0 30px;width:560px;'>
          <%= image_tag 'rent_step_1.png' %>
      </div>
      <ul class="rent_steps">
        <li class="step_active">选择车辆</li>
        <li>选择日期</li>
        <li>出租费用</li>
        <li>出租完成</li>
      </ul>
      <div>
        <table class="table table-hover">
          <%= render partial: 'cars/car_list_item', collection: @cars, as: :car %>
        </table>
        <%= will_paginate @cars %>
      </div>
    </div>
  </div>
  <div class="span4">
    <%= link_to '创建新车辆信息', new_car_path, class:'btn btn-large btn-success' %>
  </div>

</div>
