<div class="row">
  <div class="col-md-7">
    <div class="border-box">
      <%= render 'cars/pictures_slide' %>
      <%= render partial: 'cars/description', object: @car, as: :car %>
    </div>
    <div class="border-box"> 
      <h4>评论</h4>
      <%= render partial: 'comments/comment_list', object: @comments, as: :comments %>
    </div>
  </div>
  <div class="col-md-4">
    <div id="request-box">
      <%= render partial: 'rents/rent_rate', object: @rent.rate, as: :rate %>
      <div>
        出租期限:<%= @rent.start %>至<%= @rent.end %>
      </div>
      <div class="request-tool">
        <% if @rent.status == "已预订" %>
          <button class="btn btn-block btn" disabled='disabled'>不可预订</button>
        <% else %>
          <a data-toggle="modal" href="#confirm" class="btn btn-warning btn-block">预订</a>
        <% end %>
      </div>
    </div>
    <%= render partial: 'cars/loc_owner', locals: { car: @car, owner: @rent.user } %>
  </div>
</div>
<%= render partial: 'shared/check_login', locals: { id: 'request', destination: new_order_path(@rent) } %>
<%= render 'orders/confirm' %>