<%= render 'shared/success' %>
<div class="row">
  <div class="col-md-7">
    <div class="withborder"> 
      <%= render partial: 'cars/pic_desc', object: @rent.car, as: :car %>
    </div>
    <div class="withborder"> 
      <h4>评论</h4>
      <%= render partial: 'comments/comment_list', object: @comments, as: :comments %>
    </div>
  </div>
  <div class="col-md-4">
    <div id="request-box">
      <%= render partial: 'rents/rent_rate', object: @rent.rate, as: :rate %>
      <div class='rent-period'>
        出租期限:<%= @rent.start %>----------<%= @rent.end %>
      </div>
      <div class="request-tool">
        <% if @rent.status == "active" %>
        <%= button_to '预订', neworder_path(rent_id: @rent.id), id: 'request', class: 'btn submit btn-warning col-md-12' %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'cars/loc_owner', locals: { car: @rent.car, owner: @rent.user } %>
  </div>
</div>
<%= render partial: 'shared/check_login', locals: { id: 'request', destination: neworder_path(rent_id: @rent.id) } %>
