<%= content_for(:mapapi) do %>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=D6ced4fa35c14b09189fba6b898c905f"></script>
<% end %>
<script type="text/javascript">
  $(document).ready(function() {
    var map = new BMap.Map("map_container");  
    map.centerAndZoom(new BMap.Point(<%= car.location.gps[0] %>, <%= car.location.gps[1] %>), 16);  
    var pt = new BMap.Point(<%= car.location.gps[0] %>, <%= car.location.gps[1] %>);
    var myIcon = new BMap.Icon("<%= asset_path('corner.png') %>", new BMap.Size(30,30));
    var marker = new BMap.Marker(pt,{icon:myIcon});  // 创建标注
    map.addOverlay(marker);              // 将标注添加到地图中

    //（创建信息窗口）
    var infoWindow = new BMap.InfoWindow("<p style='font-size:14px;'><%= car.location.detail %></p>");
    // marker.addEventListener("click", window.open('http://map.baidu.com')); 
    map.enableScrollWheelZoom(true);
  });
</script>