<ul class="nav nav-tabs">
  <li id="nav_main"><%= link_to '我的主页', main_users_path %></li>
  <li id="nav_profile"><%= link_to '我的资料', profile_users_path %></li> 
  <li id="nav_car"><%= link_to '我的车辆', my_cars_path %></li>
  <li id="nav_rent"><%= link_to '我的出租', my_rents_path %><span class='badge'></span></li>
  <li id="nav_order"><%= link_to '我的订单', my_orders_path %></li>
</ul>
<script>
$("#<%= active %>").addClass('active');
</script>