<div class="container">
<div class="row">
  <div class="col-md-7">
    <div class="border-box">
      <%= render 'cars/pictures_slide' %>
      <%= render partial: 'cars/description', object: @car, as: :car %>
    </div>
  </div>
  <div class="col-md-4">
    <div id="request-box">
      <%= render partial: 'rents/rent_rate', object: @rent.rate, as: :rate %>
      <div>
        预订时间:<%= format_date(@order.start) %>至<%= format_date(@order.end) %>
      </div>
      <div class="request-tool">
        <%= button_to '取消预订', @order, method: :delete, class: 'btn btn-danger btn-block' %>
      </div>
    </div>
    <%= render partial: 'cars/owner', locals: { owner: @rent.user } %>
  </div>
</div>
</div>