<div class="row">
  <div class="col-md-7">
    <div class="border-box">
      <%= render 'cars/pictures_slide' %>
      <%= render partial: 'cars/description', object: @car, as: :car %>
    </div>
  </div>
  <div class="col-md-4">
    <div id="request-box">
      <%= render partial: 'rents/rent_rate', object: @rent.rate, as: :rate %>
      <div>
        出租期限:<%= @rent.start %>至<%= @rent.end %>
      </div>
      <div class="request-tool">
        <%= button_to '取消预订', @order, method: :delete, class: 'btn btn-danger btn-block' %>
      </div>
    </div>
    <%= render partial: 'cars/loc_owner', locals: { car: @car, owner: @rent.user } %>
  </div>
</div>