<div id="content">
  <section id="home" class="updatable">
    
    <!-- Slider -->
    <article class="bannercontainer">
      <div class="banner ">
        <ul>                        
          <li data-transition="fadetobottomfadefromtop" data-slotamount="1">
            <%= image_tag("bg_1.jpg", alt: "//") %>
            <div 
              class="caption lfb " 
              data-x="left"
              data-y="top"
              data-speed="1000"
              data-start="500"
              data-easing="easeOutBack"
            >   
              <p><span>需要租车？</span></p>
              <%= render 'home_search' %>
            </div>                                 
          </li>

          <li data-transition="3dcurtain-vertical" data-slotamount="1">
            <%= image_tag("bg_3.jpg", alt: "//") %>
            <div 
              class="caption lfb " 
              data-x="right"
              data-y="top"
              data-speed="1000"
              data-start="500"
              data-easing="easeOutBack"
            > 
              <p><span>出租并获利！</span></p>
              <%= link_to '立刻发布', select_car_rents_path %>
            </div>  
          </li> 

          <li data-transition="papercut" data-slotamount="1">
            <%= image_tag("bg_2.jpg", alt: "//") %>
            <div 
              class="caption lfb " 
              data-x="left"
              data-y="top"
              data-speed="1000"
              data-start="500"
              data-easing="easeOutBack"
            > 
            
            <!-- add here -->
            </div>                                    
          </li> 
        </ul>
      </div>
    </article>
    <!-- End Slider -->



    <!-- Our Puppies -->
    <article class="puppies">
    <div class="container">

      <div class="row">
        <div class="col-xs-12"><h2>精选推荐</h2></div>
        <div class="row">
        <div class="col-md-12">
          <div class="grid">
            <ul>
              <% unless @recommands.empty? %>
                <%= render partial: 'rents/rents_list_item', collection: @recommands, as: :rent %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
      </div>

      

    </div>     
    </article>
    <!-- end Our Puppies -->

    <!-- Our Services -->
    <article class="services">
      <div class="container">
      
        <div class="row">
          <div class="col-xs-12"><h2 class="header">我们能做什么？</h2></div>
        </div>
        

        <div class="row service first">
          <div class="col-md-7">
            <h2>全新的租车体验</h2>
            <p>更多的车型</p>
          </div>
          <div class="col-md-5">
            <%= image_tag 'http://fluidcars.qiniudn.com/service_1.jpg!service' %>          
          </div>
        </div>
        <div class="row service">
          <div class="col-md-12 visible-xs visible-sm">
            <h2>出租并管理</h2>
          </div>
          <div class="col-md-5">
            <%= image_tag 'http://fluidcars.qiniudn.com/service_2.jpg!service' %>          
          </div>
          <div class="col-md-7">
            <h2 class="visible-md visible-lg">出租并管理</h2>
            <p>免费发布出租信息，所有出租状态一目了然。</p>
          </div>
        </div>

      </div>
    </article>
    <!-- end Our Services -->


    <!-- Coupons -->
    <article class="coupons">
      <div class="container">
        <header><h2>优惠</h2></header>
        
        <div class="row">
          <div class="title">
            <div class="centered"><div><h2>免费</h2></div></div>
            <p>现阶段完全免费！</p>
            <hr>
          </div>
        </div>
      </div>     
    </article>
    <!-- end Coupons -->

  </section>
</div>