<div class='row'>
  <div class='span4 offset4'>
    <%= form_for @car, html:{:class => "form-horizontal"} do |f| %>
      <% if @car.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@car.errors.count, "error") %> prohibited this car from being saved:</h2>
          <ul>
          <% @car.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="control-group">
        <%= f.label :band, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_field :band, :placeholder=>"车辆型号" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :description, :class=>"control-label" %>
        <div class="controls">
          <%= f.text_area :description, :rows => 5,:placeholder=>"description" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :price, :class=>"control-label" %>
        <div class="controls input-append input-prepend"> 
          <span class="add-on">&#65509;</span>     
          <%= f.number_field :price, :placeholder=>"price" %>
          <span class="add-on">rmb</span>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :city, :class=>"control-label" %>
        <div class="controls">
          <%= f.select :city, options_for_select(%w{ 北京市 上海市 沈阳市 合肥市}), :prompt => '选择您所在的城市' %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :location, :class=>"control-label" %>
        <div class="controls input-prepend">
          <span class="add-on"><i class="icon-map-marker"></i></span>
          <%= f.text_field :location, :placeholder=>"location" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :avatar, 'Upload your picture', :class=>"control-label" %>
        <div class="controls input-prepend">
          <span class="add-on"><i class="icon-picture"></i></span>
          <%= f.file_field :avatar, :class => 'input' %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>
      <% if @car.avatar? %>
        <div class="thumbnail">
          <%= image_tag(@car.avatar_url)  %>
        </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Save my car",:class => "btn btn-primary"%>
      </div>
    <% end %>
  </div>
</div>

