<%= simple_form_for @car, :html => {:multipart => true} do |f| %>
  <div class="fieldset">
    <legend>车辆信息</legend>
    <%= f.input :brand, label: '型号', hint: '车辆品牌及型号', :placeholder=>"车辆型号" %>
    <%= f.input :description, as: :text, input_html: {rows: 5}, label: '描述', :placeholder=>"描述", hint: '请简单描述车况，更利于出租' %>
    <%= f.simple_fields_for :location do |loc| %>
      <div class="form-group">
        <%= loc.label '地区' %>
        <div class="col-lg-8">
          <%= loc.select :province, collection: [], value: 'yes' %>
          <%= loc.select :city, collection: [], value: 'ok' %>
          <%= loc.select :district, collection: [] %>
        </div>
      </div>
      <%= loc.input :detail, label: '详细地址', :placeholder=>"详细地址" %>
    <% end %> 
    <%= f.fields_for :car_pictures do |pic| %>
      <% unless pic.object.new_record? %>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-2">
            <div class="media">
              <div class="pull-left">
                <%= image_tag pic.object.picture.url("120") %>
              </div>
              <div class="media-body">
                <span class="glyphicon glyphicon-floppy-remove">删除</span>
                <%= pic.check_box :_destroy %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= render 'picture_upload' %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <%= f.submit "保存", class: 'btn btn-primary btn-large' %>
      </div>
    </div>
  </div>
<% end %>
<script type="text/javascript" src="/sitedata.js" charset="utf-8"></script>
<script type="text/javascript" src="/location.js" charset="utf-8"></script>
<script type="text/javascript">
  window.onload=function(){
    siteSelect(["car_location_attributes_province","car_location_attributes_city","car_location_attributes_district"],["","",""]);
  }
</script>
<style>
  select {
    width:80px;
  }
</style>


