<%= simple_form_for @car, :html => {:multipart => true} do |f| %>
  <div class="fieldset">
    <legend>车辆信息(以下消息必填）</legend>
    <%= f.input :token, as: :hidden, value: @car.token %>
    <%= f.input :brand, label: '型号', hint: '车辆品牌及型号', :placeholder=>"车辆型号" %>
    <%= f.input :description, as: :text, input_html: {rows: 5}, label: '描述', :placeholder=>"描述", hint: '请简单描述车况，更利于出租' %>

    <%= f.simple_fields_for :location do |loc| %>
      <% if @car.new_record? %>
        <div class="form-group">
          <%= loc.label '地区' %>
          <div class="col-lg-8 city-group">
            <%= loc.select :province, collection: [''], value: 'yes' %>
            <%= loc.select :city, collection: [''], value: 'ok' %>
            <%= loc.select :district, collection: [''] %>
          </div>
        </div>
        <%= loc.input :detail, label: '详细地址', :placeholder=>"详细地址", required: 'required' %>
      <% else %>
        <div class='form-group' id='loc-group'>
          <%= loc.label '地点' %>
          <div class="col-md-8">
            <%= format_location(@car.location) %><a id='modify-link'>修改</a>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-4">
        <%= f.submit "保存并继续", class: 'btn btn-primary btn-large' %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  <% if @car.new_record? %>
  window.onload = function(){
    siteSelect(["car_location_attributes_province","car_location_attributes_city","car_location_attributes_district"],["","",""]);
  };
  <% else %>
    content = '<div class="form-group"><label class="string optional control-label col-lg-2" for="car_location_attributes_地区">地区</label><div class="col-lg-8 city-group"><select id="car_location_attributes_province" name="car[location_attributes][province]"><optgroup label="collection"></optgroup><optgroup label="value">yes</optgroup></select><select id="car_location_attributes_city" name="car[location_attributes][city]"><optgroup label="collection"></optgroup><optgroup label="value">ok</optgroup></select><select id="car_location_attributes_district" name="car[location_attributes][district]"><optgroup label="collection"></optgroup></select></div></div><div class="form-group string required car_location_detail"><label class="string required control-label col-lg-2" for="car_location_attributes_detail"><abbr title="required">*</abbr> 详细地址</label><div class="col-lg-8"><input aria-required="true" class="string required form-control" id="car_location_attributes_detail" name="car[location_attributes][detail]" placeholder="详细地址" required="required" type="text" /></div></div>';

    $('#modify-link').click(function(){
      $('#loc-group').replaceWith(content);
      siteSelect(["car_location_attributes_province","car_location_attributes_city","car_location_attributes_district"],["","",""]);
    });
  <% end %>
</script>

