<div class="container-radius">
  <%= simple_form_for @car do |f| %>
    <div class="form-header"><h2>车辆信息</h2></div>
    <div class="form-container">
      <%= f.input :brand, label: '型号', :placeholder=>"车辆型号" %>
      <%= f.input :description, as: :text_area, label: '描述', :placeholder=>"描述" %>
      <%= f.simple_fields_for :location do |loc| %>
        <select id="province"></select>
        <%= loc.input :city, label: '城市', collection:[] %>
        <%= loc.input :district, :as => :select %>
        <%= loc.input :detail, label: '详细地址', :placeholder=>"详细地址" %>
      <% end %> 
      <%= f.input :picture, label: '上传车辆照片', as: :file %>
      <%= f.input :picture_cache, as: :hidden %>
      <% if @car.picture? %>
      <ul class="thumbnails">
        <li class="span2">
          <%= image_tag(@car.picture.thumb.url)  %>
        </li>
      </ul>
      <% end %>
      <%= f.submit "保存", class: 'btn btn-success btn-large' %>
    </div>
  <% end %>
</div>
<script type="text/javascript" src="/sitedata.js" charset="utf-8"></script>
<script type="text/javascript" src="/location.js" charset="utf-8"></script>
<script type="text/javascript">
window.onload=function(){
  siteSelect(["province","car_location_attributes_city","car_location_attributes_district"],["","",""]);
}
</script>


