<div class="row relative-box">
  <div class="col-md-12">
    <div class="thumbnail">
      <%= image_tag(car.picture.url) %>
    </div>
  </div>
</div>
<div class="mark-box">
  <h1 class="mark-brand"><%= car.brand %></h1>
  <h2 class="mark-location"><%= car.location.detail %></h2>
</div>

<div id="car-description">
  <h4>关于这辆车</h4>
	<table>
    <tr><td>车辆型号:</td><td><%= car.brand %></td></tr>
    <tr><td>所在城市:</td><td><%= car.location.city %></td></tr>
    <tr><td>地   点:</td><td><%= car.location.detail %></td></tr>
    <tr><td>描   述:</td><td><%= car.description %></td></tr>
	</table>
</div>