<div style="position:relative">
  <ul class="thumbnails">
    <li class="span12">
      <%= image_tag(car.avatar_url) %>
    </li>
  </ul>
</div>
<div class="mark-box">
  <h1 class="mark-brand"><%= car.band %></h1>
  <h2 class="mark-location"><%= car.location %></h2>
</div>

<div>
  <h2>关于这辆车</h2>
	<table>
    <tr><td>车辆型号:</td><td><%= car.band %></td></tr>
    <tr><td>所在城市:</td><td><%= car.city %></td></tr>
    <tr><td>地   点:</td><td><%= car.location %></td></tr>
    <tr><td>描   述:</td><td><%= car.description %></td></tr>
	</table>
</div>