<%= render partial: 'shared/panel_nav', locals: { active: 'nav_car'} %>
<div class="row">
  <div class="col-md-7">
    <% unless @cars.empty? %>
    <table class="table table-hover">
      <%= render partial: 'car_list_item', collection: @cars, as: :car %>
    </table>
    <%= paginate @cars %>
    <% else %>
    暂无车辆信息,<%= link_to '添加车辆', new_car_path %>
    <% end %>
  </div>
  <div class="col-md-4">
    <%= link_to '+ 添加车辆', new_car_path, class:'btn btn-large btn-success' %>
  </div>
</div>


