<%= render 'shared/notice'%>
<div class="row-fluid car-detail">
  <div class="span7">
    <div class="withborder"> 
      <%= render partial: 'cars/pic_desc', object: @car, as: :car %>
    </div>
  </div>
  <div class="span4">
    <div class="margin_button">
      <%= link_to '编辑', edit_car_path(@car), class: 'btn btn-large btn-info' %>
    </div>
    <div class="margin_button">
      <%= button_to '出租', confirm_select_car_path(car_id: @car.id), class: 'btn btn-large btn-success' %>
    </div>
    <div class="withborder"> 
      <%= render partial: 'comments/comment_list', object: @car.comments, as: :comments %>
    </div>
  </div>
</div>