<div class="row">
  <div class="col-md-7">
    <div class="border-box"> 
      <%= render 'cars/pictures_slide' %>
      <%= render partial: 'cars/description', object: @car, as: :car %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="button-group">
      <%= link_to '修改信息', edit_car_path(@car), class: 'btn btn-block btn-info' %>

      <%= button_to '出租', confirm_select_car_rents_path(car_id: @car.id), class: 'btn btn-block btn-success' %>
      <%= link_to '管理图片', upload_pictures_car_path(@car), class: 'btn btn-block btn-warning' %>
      <a data-toggle="modal" href="#deleteModal" class="btn btn-danger btn-block">删除</a>

    </div>
    <div class="border-box"> 
      <%= render partial: 'comments/comment_list', object: @car.comments, as: :comments %>
    </div>
  </div>
</div>
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">确定要删除吗？</h4>
      </div>
      <div class="modal-body">
        一旦删除，将不可回复，请慎重考虑
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <%= link_to '确定删除', car_path(@car), method: :delete, class: 'btn btn-danger'%>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->