<tr>
  <td>
    <ul class="thumbnails">
      <li class="span2">
        <a href="<%= info_path(info) %>">
          <%= image_tag(info.car.avatar.thumb.url, class: 'thumbnail') %>
        </a>
      </li>
    </ul>
  </td>
  <td>
    <ul class="span2">
      <li><%= info.car.band %></li>
      <li><%= info.car.city %><%= info.car.location %></li>
      <li>Start:<%= info.rent_start %></li>
      <li>End:<%= info.rent_end %></li>
    </ul>
  </td>
  <td>
    <div class="span2 rent-price">
      &#65509;<%= info.price %>/Day
    </div>
  </td>
</tr>