<%= render 'shared/notice' %>
<div class="row-fluid info-detail">
  <div class="span7">
    <div class="withborder"> 
      <%= render partial: 'cars/pic_desc', object: @info.car, as: :car %>
      开始日期:<%= @info.rent_start %><br>
      结束日期:<%= @info.rent_end %><br>
    </div>
    <div class="withborder"> 
      <%= render partial: 'comments/comment_list', object: @info.car.comments, as: :comments %>
    </div>
  </div>
  <div class="span4">

    <div id="request-box">
      <%= render partial: 'infos/rent_rates', object: @info, as: :info %>
      <div class="request-tool">
        <% if @info.status == "active" %>
        <%= button_to '预订', neworder_path(info_id: @info.id), id: 'request', class: 'btn submit' %>
        <% end %>
      </div>
    </div>

    <%= render partial: 'cars/loc_user', object: @info.car, as: :car %>
  </div>
</div>
<%= render partial: 'shared/check_login', locals: { id: 'request', destination: neworder_path(info_id: @info.id) } %>
