
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to '车流网', root_path, class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_city %> <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <% cities = %w(北京市 上海市 合肥市) %>
          <% cities.each do |city| %>
            <li><%= link_to city, search_rents_by_city_path(city: city) %>
          <% end %>
        </ul>
      </li>
    </ul>
    <%= render 'layouts/nav_search_form' %>
    <% if signed_in? %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to current_user.profile.name||current_user.name, main_users_path, class: 'user' %></li>
      <li><%= link_to '退出', logout_path, method: :delete %></li>
    </ul>
    <% else %>
    <ul class="nav pull-right">
      <li><%= link_to "注册", signup_path %></li>  
    </ul>
    <%= render 'layouts/nav_login_form' %>
    <% end %> 
    <ul class="nav pull-right" style="padding-top:8px;margin:0 5px">
      <li><%= button_to '出租', select_car_rents_path, class: "btn btn-success btn-xs navbar-btn", id: 'rent', method: 'get' %>
      </li>
    </ul> 
  </div><!-- /.navbar-collapse -->
</nav>

