<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <div class="content">
      <%= render 'layouts/header' %>
      <%= render 'shared/notice' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>
  <%= yield :mapapi %>
</html>