<!DOCTYPE html>
<html>
<head>
  <title>Zuche</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/style' %>
  <%= render 'layouts/shim' %>
  <%= yield :mapapi %>
  <%= render 'layouts/css' %>
</head>
<body style="padding-top:50px">
  <%= render 'layouts/nav' %>
  <div class="container" style="min-height:600px">	
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
</body>

</html>

<%= debug(params) if Rails.env.development? %>
<%= debug(request.session) %>
