<!DOCTYPE html>
<html>
  <%= render 'header' %>
  <body id="main">
    <div class="container container-box">
      <%= render 'shared/notice' %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
  </body>

</html>
<% if Rails.env.development? %> 
  <%= debug(request.session) %>
  <%= debug(request.env['omniauth.auth']) %>
<% end %>