<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>
  <body>
    <%= render 'layouts/header' %>
    <%= render 'shared/notice' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
