<!DOCTYPE html>
<html>
  <%= render 'layouts/header' %>

  <body id="main">

    <div class="container container-box">
      <%= render 'layouts/nav' %>
      <%= render 'shared/notice' %>
      <%= render partial: 'shared/panel_nav', locals: { active: 'nav_order'} %>
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <%= yield :mapapi %>
  </body>
</html>
